/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.spinner {
    -fx-border-radius: 14;
    -fx-background-radius: 12;
    -fx-padding: 4;
}

.label {
    -fx-background-radius: 12;
}

.headerPane{
    -fx-effect: dropshadow(three-pass-box, #222, 7, 0, 0, 0);
}

.menuButton {
    -fx-background-radius: 30;
    -fx-background-color: transparent;
}

.settingsPane{
    -fx-padding: 10;
}

