/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-background: #333;
    -fx-prompt-text-fill: rgba(255,255,255,0.3);
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: white;
}

.icon{
    -fx-fill: white;
}

.mainLabel{
    -fx-text-fill: black;
}

.settingsPane{
    -fx-background-color: rgba(51,51,51,0.9);
}

