/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-background: #fff;
    -fx-prompt-text-fill: rgba(0,0,0,0.3);
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: black;
}

.stack-pane{
    -fx-background-color: rgba(255,255,255,0.85);
    -fx-padding: 10;
}

.icon{
    -fx-fill: black;
}

.settingsPane{
    -fx-background-color: rgba(255,255,255,0.9);
}