/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-base: #2196f3;
    -fx-accent: #2196f3;
    -fx-focus-color: #2196f3;
}

.spinner {
    -fx-text-fill: #02477a;
    -fx-background-color: #67b7f7;
}

.headerPane{
    -fx-background-color: #67b7f7;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #02477a;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #015492;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #003963;
}

.menuButton:hover {
    -fx-background-color: #56a6e6;
}