/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-base: #855c4d;
    -fx-accent: #795548;
    -fx-focus-color: #795548;
}

.spinner {
    -fx-text-fill: #441d0e;
    -fx-background-color: #b68e80;
}

.headerPane{
    -fx-background-color: #b68e80;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #441d0e;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #6f3017;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #2b1209;
}

.menuButton:hover {
    -fx-background-color: #a57d70;
}