/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-base: #4caf50;
    -fx-accent: #4caf50;
    -fx-focus-color: #4caf50;
}

.spinner {
    -fx-text-fill: #005331;
    -fx-background-color: #84d888;
}

.headerPane{
    -fx-background-color: #84d888;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #005834;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #007243;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #003e25;
}

.menuButton:hover {
    -fx-background-color: #73c777;
}

