/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-base: #ff9800;
    -fx-accent: #ff9800;
    -fx-focus-color: #ff9800;
}

.spinner {
    -fx-text-fill: #4b2b00;
    -fx-background-color: #ffbe5e;
}

.headerPane{
    -fx-background-color: #ffbe5e;
}


.combo-box-popup .list-view .list-cell {
    -fx-background-color: #c16f1b;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #e58420;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #a55d14;
}

.menuButton:hover {
    -fx-background-color: #eead5d;
}