/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-base: #f44336;
    -fx-accent: #f44336;
    -fx-focus-color: #f44336;
}

.spinner {
    -fx-text-fill: #550600;
    -fx-background-color: #ed7c7c;
}

.headerPane{
    -fx-background-color: #ed7c7c;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #760900;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #9a0b00;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #550600;
}

.menuButton:hover {
    -fx-background-color: #de6b7b;
}